<div class="page-header">
  <h3>Creation #<%= @creation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Artwork</dt>
      <dd>
        <% if @creation.art.present? %>
          <a href="/artworks/<%= @creation.artwork_id %>">
            <%= @creation.art.caption %>
          </a>
        <% end %>
      </dd>

      <dt>Artist</dt>
      <dd>
        <% if @creation.artist.present? %>
          <a href="/users/<%= @creation.artist_id %>">
            <%= @creation.artist.email %>
          </a>
        <% end %>
      </dd>

      <dt>Share</dt>
      <dd><%= @creation.share %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/creations" class="btn btn-primary">
        Back
      </a>
      <a href="/creations/<%= @creation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_creation/<%= @creation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
