<!-- Validation failure messages -->
<% if @artwork.errors.any? %>
  <% @artwork.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Artwork #<%= @artwork.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_artwork/<%= @artwork.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <textarea id="caption" name="caption" placeholder="Caption" class="form-control" rows="3"><%= @artwork.caption %></textarea>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @artwork.image_url %>">
      </div>

      <!-- Label and input for tag -->
      <div class="form-group">
        <label for="tag" class="control-label">
          Tag
        </label>

        <input type="text" id="tag" name="tag" placeholder="Tag" class="form-control" value="<%= @artwork.tag %>">
      </div>

      <button class="btn btn-warning">
        Update Artwork
      </button>
      or
      <a href="/artworks/<%= @artwork.id %>">Cancel</a>
    </form>
  </div>
</div>
