<div class="page-header">
  <h3>Artwork #<%= @artwork.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @artwork.caption %></dd>

      <dt>Image url</dt>
      <dd><%= @artwork.image_url %></dd>

      <dt>Tag</dt>
      <dd><%= @artwork.tag %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/artworks" class="btn btn-primary">
        Back
      </a>
      <a href="/artworks/<%= @artwork.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_artwork/<%= @artwork.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Artwork has many ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ownerships
      </li>

      <% @artwork.ownerships.each do |ownership| %>
        <li class="list-group-item">
          <a href="/ownerships/<%= ownership.id %>">
            <%= ownership.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ownerships/<%= ownership.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ownerships/<%= ownership.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ownership/<%= ownership.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ownership" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for artwork_id -->
      <input type="hidden" name="artwork_id" value="<%= @artwork.id %>">

      <button class="btn btn-block btn-success">
        Create Ownership
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Artwork has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @artwork.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.artwork_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for artwork_id -->
      <input type="hidden" name="artwork_id" value="<%= @artwork.id %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Tagging
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Artwork has many collabs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collabs
      </li>

      <% @artwork.collabs.each do |collab| %>
        <li class="list-group-item">
          <a href="/collabs/<%= collab.id %>">
            <%= collab.artwork_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/collabs/<%= collab.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/collabs/<%= collab.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_collab/<%= collab.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_collab" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for artwork_id -->
      <input type="hidden" name="artwork_id" value="<%= @artwork.id %>">

      <!-- Label and input for artist_id -->
      <div class="form-group">
        <label for="artist_id" class="control-label">
          Artist
        </label>

        <%= select_tag(:artist_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Collab
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
