<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Is artist</dt>
      <dd><%= @user.is_artist %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ownerships
      </li>

      <% @user.ownerships.each do |ownership| %>
        <li class="list-group-item">
          <a href="/ownerships/<%= ownership.id %>">
            <%= ownership.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ownerships/<%= ownership.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ownerships/<%= ownership.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ownership/<%= ownership.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many collabs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collabs
      </li>

      <% @user.collabs.each do |collab| %>
        <li class="list-group-item">
          <a href="/collabs/<%= collab.id %>">
            <%= collab.artwork_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/collabs/<%= collab.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/collabs/<%= collab.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_collab/<%= collab.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many follows -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Follows
      </li>

      <% @user.follows.each do |follow| %>
        <li class="list-group-item">
          <a href="/follows/<%= follow.id %>">
            <%= follow.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/follows/<%= follow.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/follows/<%= follow.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_follow/<%= follow.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many following -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Following
      </li>

      <% @user.following.each do |follow| %>
        <li class="list-group-item">
          <a href="/follows/<%= follow.id %>">
            <%= follow.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/follows/<%= follow.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/follows/<%= follow.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_follow/<%= follow.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
