<div class="page-header">
  <h3>Ownership #<%= @ownership.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @ownership.user.present? %>
          <a href="/users/<%= @ownership.user_id %>">
            <%= @ownership.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Artwork</dt>
      <dd>
        <% if @ownership.artwork.present? %>
          <a href="/artworks/<%= @ownership.artwork_id %>">
            <%= @ownership.artwork.caption %>
          </a>
        <% end %>
      </dd>

      <dt>Seller</dt>
      <dd>
        <% if @ownership.seller.present? %>
          <a href="/users/<%= @ownership.seller_id %>">
            <%= @ownership.seller.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ownerships" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @ownership.user %>
        <a href="/ownerships/<%= @ownership.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_ownership/<%= @ownership.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
